//run sudo crontab -u www-data -e in TERMINAL , copy paste the following lines to the eof so that we can execute the php file every minute.

* * * * * www-data php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 1 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 2 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 3 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 4 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 5 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 6 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 7 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 8 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 9 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 10 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 11 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 12 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 13 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 14 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 15 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 16 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 17 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 18 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 19 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 20 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 21 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 22 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 23 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 24 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 25 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 26 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 27 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 28 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 29 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 30 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 31 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 32 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 33 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 34 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 35 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 36 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 37 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 38 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 39 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 40 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 41 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 42 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 43 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 44 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 45 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 46 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 47 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 48 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 49 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 50 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 51 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 52 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 53 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 54 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 55 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 56 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 57 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 58 ; php-cgi /var/www/serversage/exec.php
* * * * * www-data sleep 59 ; php-cgi /var/www/serversage/exec.php